* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
      
}

table, th, td, tr {
    
    border: 1px solid black;
    }

#videos0 {
    width: auto;
    height: auto;
    background-color: white;
    padding: 12px;
        float: left;
    
}

# row1{
      width: auto;
    height: auto;
    padding-top: 12px;
    float: left;
    
    
}

# row2{
      width: auto;
    height: auto;
    padding-top: 12px;
    float: left;
    
    
}
#video1{
    width: 50%;
    height: auto;
float:left;
   
    }

#espacioblancoizq{
     width: 45%;
    height: 315px;
    float:right;
    background: red;
   
    }

#espacioblancoder{
     width: 45%;
    height: 315px;
    float:ledt;
    background: blue;
   
    }


#video2{
      width: 50%;
    height: auto;
    float:left;
 
}
       